[submodule "lib/php/wp-settings-api"]
	path = lib/php/wp-settings-api
	url = git://github.com/rinatkhaziev/wordpress-settings-api-class.git
[submodule "lib/php/twig"]
	path = lib/php/twig
	url = git://github.com/fabpot/Twig.git
